@charset "UTF-8";

:root{

}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: center;
}
header{

}
nav{

}
main{

}
aside{

}
footer{
    
}